.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;

  .home-header {
    position: relative;
    width: 100%;
    height: 80vh; /* Ahora la imagen ocupa más espacio de pantalla */
    overflow: hidden;

    .edificio-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.6); /* Oscurece un poco la imagen para resaltar el texto */
    }

    .home-title { 
      position: absolute;
      bottom: 10%; /* Ubica el título más abajo */
      left: 5%; /* Alinea el título a la izquierda */
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade sombra al texto */
      
      h1 {
        font-size: 2.5rem; /* Asegura que el texto esté en una sola línea */
        margin: 0;
        span {
          font-size: 2.5rem;
        }
      }
    }
  }

  .home-description {
    margin: 40px auto;
    width: 85%; /* Extiende el texto un poco más hacia la derecha */
    text-align: center;
    
    p {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 1000px;
      text-align: justify;
      color: #8f8f8f; /* Cambia el color del texto */
    }
  }
}
