@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './home-page/index.scss';
@import './reservas-page/index.scss';
@import './boletin-page/index.scss';
@import './ggcc-page/index.scss';

html, body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

* {
  font-family: 'ADLaM Display', sans-serif;
}


.react-datepicker__header {
  position: relative;
}

.react-datepicker__current-month {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.react-datepicker__navigation--previous {
  position: absolute;
  left: 10px;
  top: 15px;
}

.react-datepicker__navigation--next {
  position: absolute;
  right: 10px;
  top: 15px;
}
